.footer {
  background-color: #000;
  color: #fff;
  padding: 2rem;
  margin-top: 2rem;
}

.footer-grid {
  margin-top: 3%;
  max-width: 80rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

.footer h5 {
  font-size: 17.86px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer li{
  font-size: 13.78px;
  font-weight: 400;
  margin-bottom: 0.8rem;

}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #b9c1cc;
  padding-top: 1rem;
}

.footer-links a {
  margin-right: 1rem;
}

.footer-text p {
  font-size: 0.875rem;
}

.store-links {
  display: flex;
  margin-top: 1rem;
}

.store-links img {
  width: 120px; 
  margin-right: 1rem;
}

.social-media {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.social-media img {
  width: 50px; 
  margin-right: 1rem;
}

.social-text {
  font-size: 0.875rem;
  margin-right: 1rem;
}

.footer-social {
  display: flex;
  justify-content: space-around;
}


@media screen and (min-width: 768px) {
  .footer-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .footer-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }


  .footer-grid > div:not(:nth-child(4)) {
    display: none;
  }

  
  .footer-social {
    display: block;
    /* margin-top: 1rem; */
  }
 .engsans {
    font-family: 'Inter';
    display: block;

  }
  .store-links {
    display: none; 
  }
  .footer-bottom {
    display: block;
  }
  .footer-legal {
  margin-bottom: 50px;
  }
  .footer-links {
    width:50%;
    display: flex;
    justify-content: space-around;
  }
}

